address {
  font-style: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin-block: 0;
}

p {
  margin-block: 0;
  letter-spacing: 0.02em;
}

ul {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer__media-link, .feedback a.contacts__text, .hero__media-link {
  text-decoration: none;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.page-footer__media-link:hover, .feedback a.contacts__text:hover, .hero__media-link:hover, .page-footer__media-link:focus, .feedback a.contacts__text:focus, .hero__media-link:focus {
  color: #ff6c00;
}

.page-footer__media-link, .hero__media-link {
  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.gallery__heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback, .gallery, .barbers, .facts, .prices, .about {
  max-width: 1600px;
  margin-inline: auto;
  padding-block: 84px;
}
@media screen and (min-width: 768px) {
  .feedback, .gallery, .barbers, .facts, .prices, .about {
    padding-block: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback, .gallery, .barbers, .facts, .prices, .about {
    padding-block: 120px;
  }
}

.feedback .contacts__intro, .gallery__intro, .barbers__intro, .facts__intro, .prices__intro, .about__intro, .hero__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: normal;
  text-transform: uppercase;
}
.prices__intro, .hero__intro {
  color: rgba(157, 164, 189, 0.6);
}
@media screen and (max-width: 334px) {
  .feedback .contacts__intro, .gallery__intro, .barbers__intro, .facts__intro, .prices__intro, .about__intro, .hero__intro {
    font-size: 10px;
  }
}

.feedback .contacts__heading, .feedback .booking__heading, .barbers__heading, .facts__heading, .prices__heading, .about__heading {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.feedback .contacts__intro, .feedback .contacts__heading, .feedback .booking__heading, .prices__heading {
  color: #ffffff;
}

.facts__subtitle, .about__subtitle, .hero__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.hero__subtitle {
  color: #9da4bd;
}

.feedback .booking__btn, .prices__btn, .about__btn {
  min-width: 160px;
  height: 40px;
  padding-block: 12px;
  padding-inline: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  /* BUTTON Light Text Theme */
  /* BUTTON Dark Text Theme */
}
.feedback .booking__btn:hover, .prices__btn:hover, .about__btn:hover, .feedback .booking__btn:focus, .prices__btn:focus, .about__btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.feedback .booking__btn, .prices__btn {
  color: #ffffff;
}
.about__btn {
  color: #303030;
}

.container {
  max-width: 448px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero__media-list::before,
.feedback .contacts__intro::before,
.gallery__intro::before,
.barbers__intro::before,
.facts__intro::before,
.prices__intro::before,
.about__intro::before,
.hero__intro::before,
.page-footer__media-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

/* For EMERGENCIES (default image from the img tag) */
picture img {
  -o-object-fit: cover;
     object-fit: cover;
}

.hero > .container {
  position: relative;
  max-width: 480px;
  padding-inline: 0;
}
@media screen and (min-width: 768px) {
  .hero > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 29px;
    max-width: 720px;
    padding-inline: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero > .container {
    gap: 15px;
    max-width: 1200px;
  }
}

.hero__media-content {
  position: relative;
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__media-content {
    display: block;
    width: 88px;
  }
}

.hero__media-list {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.hero__media-list::before {
  margin-right: 0;
}

.hero__content {
  padding: 208px 15px 209px 15px;
  background-color: #191c26;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/bg-hero__mobile-01.jpg");
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/bg-hero__mobile-01.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url("../images/bg-hero__mobile-01@2x.jpg");
  }
}
@media screen and (min-width: 425px) {
  .hero__content {
    padding-inline: 31px;
  }
}
@media screen and (min-width: 480px) {
  .hero__content {
    padding-inline: 31px 128px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    width: 573px;
    padding: 272px 114px 237px 98px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/bg-hero__tablet-01.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/bg-hero__tablet-01.jpg");
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url("../images/bg-hero__tablet-01@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    width: 1070px;
    padding: 272px 526px 237px 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/bg-hero__desktop-01.jpg");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/bg-hero__desktop-01.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: url("../images/bg-hero__desktop-01@2x.jpg");
  }
}

.hero__heading {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (max-width: 374px) {
  .hero__heading {
    font-size: 40px;
  }
}

.hero__subtitle {
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.carousel__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .about > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about__item {
  height: 235px;
}
@media screen and (min-width: 1200px) {
  .about__item {
    height: 445px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    padding-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .about__wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .about__heading {
    max-width: 306px;
  }
}
@media screen and (max-width: 1199px) {
  .about__heading {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about__subtitle {
    font-size: 16px;
    line-height: 1.625;
  }
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8571428571;
  color: #555555;
}

.prices {
  background-color: #111319;
  background-image: url("../images/bg-prices__mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/bg-prices__mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url("../images/bg-prices__tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/bg-prices__tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-image: url("../images/bg-prices__desktop.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/bg-prices__desktop@2x.png");
  }
}

.prices__heading {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .prices__heading {
    font-size: 40px;
    line-height: 1.18;
  }
}

.prices__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 44px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .prices__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    background-image: none;
  }
}

.prices__list {
  padding-inline: 20px 20px;
}
.prices__list:first-child {
  margin-bottom: 20px;
  padding-block: 30px 0;
}
@media screen and (min-width: 1200px) {
  .prices__list:first-child {
    margin-bottom: 0;
  }
}
.prices__list:last-child {
  padding-block: 0 30px;
}
@media screen and (min-width: 425px) {
  .prices__list {
    padding-inline: 40px 20px;
  }
}
@media screen and (min-width: 768px) {
  .prices__list {
    padding-inline: 40px;
  }
  .prices__list:first-child {
    padding-block: 32px 0;
  }
  .prices__list:last-child {
    padding-block: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    padding-inline: 20px;
  }
  .prices__list:first-child {
    padding-block: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices__list:last-child {
    padding-block: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4px;
}
.prices__item:not(:last-child) {
  margin-bottom: 20px;
}
.prices__item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
@media screen and (min-width: 768px) {
  .prices__item {
    gap: 12px;
  }
}

.prices__text {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.43;
  color: #9da4bd;
}
.prices__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media screen and (min-width: 375px) {
  .prices__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .prices__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices__btn {
  display: block;
  margin-inline: auto;
}

.facts > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .facts > .container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .facts > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 130px;
  }
}

.facts__content {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .facts__content {
    max-width: 500px;
  }
}

.facts__heading {
  max-width: 420px;
}
@media screen and (max-width: 767px) {
  .facts__heading {
    font-size: 41px;
  }
}

.facts__subtitle {
  max-width: 500px;
}

.facts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (min-width: 768px) {
  .facts__list {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .facts__list {
    max-width: 370px;
  }
}

.facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 133px;
  padding-block: 20px;
  text-align: center;
  background-color: #f7f7f7;
}
.facts__item:nth-child(odd) {
  margin-bottom: 30px;
}
.facts__item:nth-child(even) {
  margin-top: 30px;
}

.facts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
}
.facts__number::after {
  content: "+";
  margin-left: 2px;
  padding-top: 7px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  color: #ff6c00;
}

.facts__description {
  margin-top: 6px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: normal;
}

.barbers {
  padding-bottom: 54px;
  background-color: #f7f7f7;
}

.barbers__heading {
  margin-bottom: 44px;
}

.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 34px;
}
@media screen and (min-width: 1200px) {
  .barbers__list {
    gap: 30px;
  }
}

.barbers-card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .barbers-card {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.barbers-card > picture {
  display: block;
  height: 346px;
  margin-bottom: 30px;
}
.barbers-card img {
  margin-inline: auto;
  -o-object-position: center;
     object-position: center;
}

.barbers-card__content {
  padding-inline: 30px;
  padding-bottom: 30px;
}

.barbers-card__heading {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers-card__description {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  color: #ff6c00;
}

.barbers-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.barbers-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #303030;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.barbers-media__link:hover, .barbers-media__link:focus {
  color: #ff6c00;
}

.barbers-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.gallery__intro {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .gallery__intro {
    margin-bottom: 44px;
  }
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  height: 360px;
}
.gallery__item img {
  -o-object-position: left center;
     object-position: left center;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.feedback {
  background-color: #191c26;
  background-image: url("../images/bg-contacts__mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100% 46.5%;
  /* =============== Section Booking - START ============== */
  /* ================ Section Booking - END =============== */
  /* ============== Section Contacts - START ============== */
  /* =============== Section Contacts - END =============== */
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .feedback {
    background-image: url("../images/bg-contacts__mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .feedback {
    background-image: url("../images/bg-contacts__tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .feedback {
    background-image: url("../images/bg-contacts__tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .feedback {
    padding-top: 130px;
    background-image: url("../images/bg-contacts__desktop.png");
    background-position: right center;
    background-size: calc(50% - 15px) 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .feedback {
    background-image: url("../images/bg-contacts__desktop@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .feedback > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.feedback .booking {
  margin-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .feedback .booking {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback .booking {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
.feedback .booking__heading {
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feedback .booking__heading {
    text-align: left;
  }
}
.feedback .booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .feedback .booking__form {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.feedback .booking__input {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 24px;
  margin-bottom: 44px;
  padding: 0 0 8px 0;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  -webkit-transition: color 250ms, border-color 250ms;
  transition: color 250ms, border-color 250ms;
}
@media screen and (min-width: 768px) {
  .feedback .booking__input {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.feedback .booking__message {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  padding: 0;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  -webkit-transition: color 250ms, border-color 250ms;
  transition: color 250ms, border-color 250ms;
  resize: none;
}
.feedback .booking__input:focus,
.feedback .booking__message:focus {
  color: #ffffff;
  border-color: #ffffff;
}
.feedback .booking__input::-webkit-input-placeholder, .feedback .booking__message::-webkit-input-placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.feedback .booking__input::-moz-placeholder, .feedback .booking__message::-moz-placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -moz-transition: color 250ms;
  transition: color 250ms;
}
.feedback .booking__input:-ms-input-placeholder, .feedback .booking__message:-ms-input-placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.feedback .booking__input::-ms-input-placeholder, .feedback .booking__message::-ms-input-placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -ms-transition: color 250ms;
  transition: color 250ms;
}
.feedback .booking__input::placeholder,
.feedback .booking__message::placeholder {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color 250ms;
  transition: color 250ms;
}
.feedback .booking__input:focus::-webkit-input-placeholder, .feedback .booking__message:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.feedback .booking__input:focus::-moz-placeholder, .feedback .booking__message:focus::-moz-placeholder {
  color: #ffffff;
}
.feedback .booking__input:focus:-ms-input-placeholder, .feedback .booking__message:focus:-ms-input-placeholder {
  color: #ffffff;
}
.feedback .booking__input:focus::-ms-input-placeholder, .feedback .booking__message:focus::-ms-input-placeholder {
  color: #ffffff;
}
.feedback .booking__input:focus::placeholder,
.feedback .booking__message:focus::placeholder {
  color: #ffffff;
}
.feedback .booking__btn {
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .feedback .booking__btn {
    margin-inline: 0;
  }
}
.feedback .contacts {
  padding-top: 84px;
}
@media screen and (min-width: 768px) {
  .feedback .contacts {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback .contacts {
    padding-top: 0;
    padding-left: 100px;
  }
}
.feedback .contacts__heading {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feedback .contacts__heading {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feedback .contacts__wrapper {
    width: 255px;
  }
}
.feedback .contacts__item:first-child > .contacts__text {
  font-weight: 700;
}
.feedback .contacts__item:first-child .contacts__icon {
  margin-top: 4px;
}
.feedback .contacts__item:not(:last-child) {
  margin-bottom: 20px;
}
.feedback .contacts__item:not(:first-child) > .contacts__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback .contacts__item:last-child > .contacts__text {
  text-decoration: underline;
}
.feedback a.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.feedback .contacts__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #9da4bd;
}
.feedback .contacts__icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  fill: none;
}
.feedback .contacts__intro {
  margin-top: 44px;
  margin-bottom: 20px;
}
.feedback .contacts__intro::before {
  background-color: rgba(157, 164, 189, 0.4);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feedback .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feedback .contacts__wrapper address,
.feedback .contacts__wrapper div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .feedback .contacts__address {
    padding-right: 90px;
  }
  .feedback .contacts__intro {
    margin-top: 0;
  }
}

.page-footer {
  padding-block: 44px;
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding-block: 56px;
  }
}
.page-footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .page-footer > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-footer__copyright {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.page-footer__media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
  margin-bottom: 20px;
  font-size: 11px;
}
.page-footer__media-list::before {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .page-footer__media-list {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */