%link {
	text-decoration: none;

	transition: color 250ms;

	&:hover,
	&:focus {
		color: $COLOR_ACCENT;
	}
}

%media-link {
	display: block;

	font-size: 11px;
	font-weight: 600;
	line-height: calc(15 / 11);
	letter-spacing: 0.2em;
	color: $COLOR_MAIN;
}

%visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
